.category {
  background-color: #eeeeee;
  border-radius: 5px;
  height: 4cm;
  margin-bottom: 30px;
  cursor: pointer;
}

.category-detail {
  padding-bottom: 15px
}

.to-bottom {
  padding-top: 20px
}

.plus-category {
  font-size: 2cm;
  padding-top: 1cm;

}

.category-add {
  background-color: #ffffff;
  border: 2px solid grey;
}

.category-add:hover {
  border: 2px dashed black
}

.category-adding {
  -webkit-animation-name: category-grow; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards;
  animation-name: category-grow;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes category-grow {
  from {height: 4cm;}
  to {height: 10cm;}
}

/* Standard syntax */
@keyframes category-grow {
  from {height: 4cm;}
  to {height: 10cm;}
}

.category-form {
  padding-top: 15px
}
