.category {
  background-color: #eeeeee;
  border-radius: 5px;
  height: 4cm;
  margin-bottom: 35px;
  cursor: pointer;
}

.category-detail {
  padding-bottom: 15px
}

.to-bottom {
  padding-top: 20px
}

.plus-category {
  font-size: 2cm;
  padding-top: 1cm;

}

.category-add {
  background-color: #ffffff;
  border: 2px solid grey;
}

.category-add:hover {
  border: 2px dashed #aaaaaa
}

.category-adding {
  -webkit-animation-name: category-grow; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards;
  animation-name: category-grow;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes category-grow {
  from {height: 4cm;}
  to {height: 10cm;}
}

/* Standard syntax */
@keyframes category-grow {
  from {height: 4cm;}
  to {height: 10cm;}
}

.category-form {
  padding: 0px;
  padding-top: 15px
}

.menu {
  background-color: #eeeeee;
  margin-bottom: 20px
}

.item-menu, .selected-item-menu {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.item-menu > a {
  color: black
}

.item-menu * a:hover {
  text-decoration: none !important
}

.item-menu:hover, .selected-item-menu:hover{
  background-color: #cccccc
}

.selected-item-menu {
  background-color: #dddddd
}


.login-input {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #dddddd;
  padding-top: 12px;
  padding-left: 10px;
  border-radius: 2px;
}

.login-input * input {
  outline: none;
  border: none;
}

.login-submit {
  padding: 0;
}

.login-submit > input {
  width:100%;
  height:100%;
  border-radius: 2px
}
